# BUCLES
FOR

In [1]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### EJERICICIO 1
Solicita un mensaje y un numero n y repitelo n veces en la pantalla

In [8]:
msj= input("ingrese un mensaje:")
n= int(input("ingrese las veces que se repetira el mensaje"))
for i in range (n):
    print(msj)

ingrese un mensaje: hola
ingrese las veces que se repetira el mensaje 3

hola
hola
hola

### EJERCICIO 2
Utilizar un bucle for para mostrar los numeros del 1 al 10 en orden

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# EJERCICIO 3
Muestra numeros del 10 al 1, uno por linea.

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# EJERCICIO 4
Pide un numero n y calcula la suma de los numeros del 1 al n

In [25]:
suma=0
n = int(input("escribe un numero"))
for i in range (n+1):
    suma+=i
print(suma)

cal= n*(n+1)/2
print(cal)

escribe un numero 7

28
28.0

# EJERCICIO 5
Solicita un numero de muestra su tabla de multiplicar del 1 al 10

In [26]:
n = int(input("ingrese un numero para ver su tabla de multiplicar"))
for i in range (1,11,1):
    print( n ,"x", i , "=",n*i)

ingrese un numero para ver su tabla de multiplicar 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# EJERCICIO 6 
Muestra todos los numeros pares del 1 al 100

In [27]:
for i in range(1,101):
    if (i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# EJERCICIO 7
Solicita un usuario que ingrese la cantidad de nombres.Luego imprime cada uno en una linea con numeracion.

In [48]:
n= int(input("Ingrese la cantidad de nombres: "))

print("\nLista de nombres:")
for i in range(n):
    nombres = input(f"Ingrese el nombre {i + 1}: ")
    print(f"{i + 1}. {nombres}")

Ingrese la cantidad de nombres:  2

Lista de nombres:

Ingrese el nombre 1:  juan

1. juan

Ingrese el nombre 2:  alex

2. alex

### EJERCICIO 8 
Pide un numero limite y suma todos los multiplos de 3 entre 1 y ese numero

In [50]:
n= int(input("Ingrese un numero"))
suma=0
for i in range (n):
    if (i%3==0):
        suma+=i
print(suma)

Ingrese un numero 10

18

### EJERCICIO 9
Pide una palabra y cuenta cuantas vocales contiene.

In [51]:
msj = input("ingrese una palabra")
cont= 0
for letra in msj:
    if letra.lower() in "aeiou":
        cont+=1
print("La palabra", msj , "tiene en total", cont , "vocales")

ingrese una palabra hola

La palabra hola tiene en total 2 vocales

### EJERCICIO 10
Pide un numero n y calcula su factorial. Ejemplo: 5!= 5x4x3x2x1=120

In [53]:
n = int(input("Ingrese un numero"))

factorial = 1

for i in range(n, 0, -1):
    factorial *= i
    if i > 1:
        print(f"{i} x ", end="")
    else:
        print(f"{i} = {factorial}")

Ingrese un nÃºmero:  3

3 x 2 x 1 = 6