# primer comentario
print ("hola mundo")

# VARIABLES

In [3]:
nombreVariables = 124 #int
b = "palabras" #string
PI = 3.14 #float
C = 'a' #char
D = 2.23456790987654 #float

In [5]:
print(type(nombreVariables))
print(type(b))
print(type(C))
print(type(D))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [6]:
var=input("ingrese un nombre")
print(f"hola, {var}")

ingrese un nombre tilin

hola, tilin

In [8]:
edad=input("ingrese su edad")
print("la edad es",edad)

ingrese su edad 12

la edad es 12

In [12]:
a= int(input("ingrese el primer numero"))
b= int(input("ingrese el segudno numero"))
print ("EL valor de la multiplicacion es ", (a*b))

ingrese el primer numero 4
ingrese el segudno numero 3

EL valor de la multiplicacion es  12

In [14]:
print("el valor de la multiplicacion es", a*b)
print(f"la \"multiplicacion\" de {a}x{b}={a*b}")

el valor de la multiplicacion es 12
la "multiplicacion" de 4x3=12

In [18]:
print(5!=3)

True

# EJERCICIOS

# EJERCICIO 1 
suma de dos numeros, Pide al usuario que ingrese dos numeros y muestra el resultado de su suma

In [24]:
a = int(input("ingrese el primero numero:"))
b = int(input("ingrese el segudno numero:"))
print ("el valor de la suma de", (a),"y",(b), "es ",(a+b))

ingrese el primero numero: 3
ingrese el segudno numero: 4

el valor de la suma de 3 y 4 es  7

# Ejercicio 2
Solicita al usuario una temperatura en grados Celsius y conviertela es Fahrenheit

In [26]:
g= int(input("ingrese la temperatura en Celsius:"))
c=(g* 9/5) + 32 
print("La temperatura",(g),"en Fahrenheit es",(c))

ingrese la temperatura en Celsius: 10

La temperatura 10 en Fahrenheit es 50.0